<!DOCTYPE html>
<html>
<head>
    <title>文章</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../plugins/tinymce/tinymce.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../plugins/tag/jquery.caret.min.js"></script>
    <script src="../../plugins/tag/jquery.tag-editor.min.js"></script>
</head>
<body>
<div id="rapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query"
                       placeholder="输入标题，别名进行搜索">
            </div>
            <a class="btn btn-default" @click="query"><i class="fa fa-search">&nbsp;查询</i></a>
            <a v-if="hasPermission('sys:article:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('sys:article:update')" class="btn btn-warning" @click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('sys:article:delete')" class="btn btn-danger" @click="del"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="input-title">标题</label>
                <input type="text" class="form-control" v-model="article.title" placeholder="标题"/>
            </div>
            <div class="form-group">
                <label class="input-title">缩略图</label>
                <input type="hidden" class="form-control" v-model="article.image" placeholder="缩略图"/>
                <div class="thumbnail" style="text-align: center;">
                    <img class="img-thumbnail" style="width: 55%;height: 55%;" :src="article.image">
                    <div class="caption">
                        <a class="btn btn-link" @click="openAttachmentLayer">选择缩略图</a>
                        <a class="btn btn-link" @click="removeAttachment">移除缩略图</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="input-title">内容</label>
                <input type="hidden" class="form-control" v-model="article.content" placeholder="内容"/>
                <textarea id="textarea"></textarea>
            </div>

            <div class="form-group" style="text-align: center;">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <attachment-layer></attachment-layer>
</div>

<script src="../../js/modules/sys/article.js"></script>
</body>
</html>